In [1]:
import numpy as np
import pandas as pd

In [30]:
filename="weather.txt"
#df=pd.DataFrame(nested lists, index=[], columns=[list of column names])
df= pd.read_csv(filename)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [8]:
print(df.head(5)) #first 5 rows
print()
print(df.tail(3)) #last 3 rows

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [9]:
print(df.dtypes)
print(df.index)
print(df.columns)
print(df.values)

month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object
RangeIndex(start=0, stop=12, step=1)
Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')
[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [11]:
print(df.describe()) #statistical summary

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [12]:
#sorting by column record_high in descending order
print(df.sort_values("record_high",ascending=False))

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [16]:
print(df["month"])
# or this print(df.month) 
print(df[["month","avg_low"]]) #printing 2 columns

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
Name: month, dtype: object
   month  avg_low
0    Jan       42
1    Feb       45
2    Mar       48
3    Apr       50
4    May       53
5    Jun       56
6    Jul       58
7    Aug       59
8    Sep       57
9    Oct       54
10   Nov       48
11   Dec       42

In [17]:
print(df[2:5]) #rows 2,3 and 4

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

In [20]:
print(df.loc[2:5,["month","avg_low"]]) #rows 2 to 5 but only specified columns
print()
print(df.loc[6,["month","avg_low"]]) #to get specified columns of row with index 6

  month  avg_low
2   Mar       48
3   Apr       50
4   May       53
5   Jun       56

month      Jul
avg_low     58
Name: 6, dtype: object

In [24]:
print(df.iloc[3:5,[0,3]])
print()
print(df.iloc[3,[0,3]])

  month  record_high
3   Apr           92
4   May           98

month          Apr
record_high     92
Name: 3, dtype: object

In [27]:
#filtering
print(df[df.avg_precipitation >1.0])
print()
print(df[df["month"].isin(["Jun","Jul"])])

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00

In [31]:
#assignment
df.loc[10:,["avg_precipitation"]]=3.0
print(df)
print()
#np.nan means not a number
df.loc[:,["avg_precipitation"]]=np.nan
print(df)
print()
#create a new column avg_day and assign a value
df["avg_day"]=(df.avg_low+df.avg_high)/2
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               3.00
11   Dec        58       42           73          21               3.00

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22                NaN
1    Feb        61       45           78          26                NaN
2    Mar        65       48           84          25                NaN
3    Apr        67       50           92          28                NaN
4    May        71       53           98          35                NaN
5    Jun        75       56          107          41                NaN
6    Jul        77       58          105          44                NaN
7    Aug        77       59          102          43                NaN
8    Sep        77       57          103          40                NaN
9    Oct        73       54           96          34                NaN
10   Nov        64       48           84          30                NaN
11   Dec        58       42           73          21                NaN

   month  avg_high  avg_low  record_high  record_low  avg_precipitation  \
0    Jan        58       42           74          22                NaN
1    Feb        61       45           78          26                NaN
2    Mar        65       48           84          25                NaN
3    Apr        67       50           92          28                NaN
4    May        71       53           98          35                NaN
5    Jun        75       56          107          41                NaN
6    Jul        77       58          105          44                NaN
7    Aug        77       59          102          43                NaN
8    Sep        77       57          103          40                NaN
9    Oct        73       54           96          34                NaN
10   Nov        64       48           84          30                NaN
11   Dec        58       42           73          21                NaN

    avg_day
0      50.0
1      53.0
2      56.5
3      58.5
4      62.0
5      65.5
6      67.5
7      68.0
8      67.0
9      63.5
10     56.0
11     50.0

In [33]:
#renaming column name
df=df.rename(columns = {"avg_precipitation": "avg_rain"})
print(df.head())

#to change all column names
#columns=[list of column names]

  month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0   Jan        58       42           74          22       NaN     50.0
1   Feb        61       45           78          26       NaN     53.0
2   Mar        65       48           84          25       NaN     56.5
3   Apr        67       50           92          28       NaN     58.5
4   May        71       53           98          35       NaN     62.0

In [35]:
#to save dataframe into a file
df.to_csv("weather modified.csv")

#can also be saved in other formats